:root {
	--hauteur-menu: 0px;
}
* {
	margin: 0px;
	padding: 0%;
	font-family: Montserrat, sans-serif;
}

#droit {
	z-index: 3;
	display: inline;
	width: 20%;
	top: 10%;
	right: 20%;
}
nav > ul {
	display: flex;
	text-align: center;

	height: var(--hauteur-menu);
}

nav ul {
	list-style-type: none;
}

nav > ul > li {
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	height: 100%;
}
nav > ul > li > button {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

li a {
	text-decoration: none;
	color: #f0f0f0;
}

.menu-deroulant > a:after {
	content: "❯";
	font-size: 15px;
	margin-left: 7px;
	display: inline-block;
}
.sous-menu {
	width: 113%;
	/* margin-top: -200%; */
	margin-top: -80%;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.712);
	border-radius: 2px;
	overflow: hidden;
	max-height: 0;
}

.sous-menu > li > a {
	/* height: 50px; */
	/* padding-left: 20px; */
	/* width: 100%; */
	align-items: center;
	display: flex;
}
#menuA {
	padding-top: 30%;
}

nav > ul > li:hover > a,
nav > ul > li:focus > a {
	color: #f0f0f0;
}
.sous-menu > li:hover {
	background-color: rgba(255, 255, 255, 0);
}

.sous-menu > li:hover > a,
.sous-menu > li:focus > a {
	color: #f0f0f0;
}

@keyframes rotationFleche {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.menu-deroulant:hover > a:after,
.menu-deroulant:focus > a:after {
	animation: rotationFleche 0.5s linear forwards;
}
@keyframes apparitionSousMenu {
	0% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
		border-bottom: 3px solid #64646400;
	}
	30% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
	}
	100% {
		max-height: 50em;
		border-bottom: 3px solid #ffffff00;
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
}
.menu-deroulant:hover > .sous-menu,
.menu-deroulant:focus > .sous-menu {
	animation: apparitionSousMenu 0s forwards;
}

#nav {
	margin-top: 10%;
}

button,
#historique {
	display: inline-block;
	background-color: #7b38d800;
	border-radius: 10px;
	border: 4px double #cccccc00;
	color: #f0f0f0;

	font-size: 15px;
	padding: 10px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}

button:hover,
#historique:hover {
	background-color: #f0f0f0;
	color: black !important;
	text-decoration: none;
}
a:hover {
	color: black;
}
/* fin menu */
/* @media only screen and (max-width: 699px) and (min-width: 500px) {
	.sous-menu {
		margin-top: -170%;
	
	}
}
@media only screen and (max-width: 899px) and (min-width: 700px) {
	.sous-menu {
		margin-top: -170%;
		
	}
}

@media only screen and (max-width: 1100px) and (min-width: 899px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 1099px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}

@media only screen and (max-width: 1500px) and (min-width: 1299px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}

@media only screen and (max-width: 1700px) and (min-width: 1499px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 1900px) and (min-width: 1699px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 2200px) and (min-width: 1899px) {
	.sous-menu {
		margin-top: -170%;
		padding-bottom: -200%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 5000px) and (min-width: 2199px) {
	.sous-menu {
		margin-top: -170%;
	}
} */

#menuD > ul {
	display: flex;
	text-align: center;

	height: var(--hauteur-menu);
}

#menuD ul {
	list-style-type: none;
}

#menuD > ul > li {
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	height: 100%;
}
#menuD > ul > li > .btn {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-top: 1px solid red;
}

.menuDeroulant > a:after {
	content: "❯";
	font-size: 15px;
	margin-left: 7px;
	display: inline-block;
}
.sousMenuDisplay {
	width: 110%;
	margin-top: -80%;
	margin-left: -10%;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.712);
	border-radius: 2px;
	overflow: hidden;
	max-height: 0;
}

.sousMenuDisplay > li > a {
	/* height: 50px; */
	/* padding-left: 20px; */
	/* width: 100%; */
	align-items: center;
}
#menuDisplay {
	padding-top: 30%;
}

#menuD > ul > li:hover > a,
#menuD > ul > li:focus > a {
	color: #f0f0f0;
}
.sousMenuDisplay > li:hover {
	background-color: rgba(255, 255, 255, 0);
}

.sousMenuDisplay > li:hover > a,
.sousMenuDisplay > li:focus > a {
	color: #f0f0f0;
}

@keyframes rotationFlecheDisplay {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.menuDeroulant:hover > a:after,
.menuDeroulant:focus > a:after {
	animation: rotationFleche 0.5s linear forwards;
}
@keyframes rotationFlecheDisplay {
	0% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
		border-bottom: 3px solid #64646400;
	}
	30% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
	}
	100% {
		max-height: 50em;
		border-bottom: 3px solid #ffffff00;
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
}
.menuDeroulant:hover > .sousMenuDisplay,
.menuDeroulant:focus > .sousMenuDisplay {
	animation: apparitionSousMenu 0s forwards;
}

#menu {
	top: 80%;
}

.btnDisplay {
	display: inline-block;
	background-color: #7b38d800;
	border-radius: 10px;
	border: 4px double #cccccc00;
	color: #f0f0f0;

	font-size: 15px;
	padding: 10px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	text-align: center;
}
.btnDisplay:hover,
.btnDisplay:focus {
	color: #000000 !important;
	background-color: #f0f0f0;
}
